<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	 crossorigin="anonymous">
    <link href="{% static 'Inventory_System_For_Retailers/footer.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .Last_Stock{
            text-align: center;
            font-size: x-large;
            font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
            font-stretch: semi-expanded;
        }
    </style>
	<title>Document</title>
</head>
<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding: 15px">
		<a class="navbar-brand" href="#">Inventory System</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <a href="{%url 'Inventory_Management_For_Retailers:home' %}" class="nav-link active"><li class="nav-item">Home</li></a>
        {%if user.is_authenticated%}
          <a href="#" class="nav-link"><li class="nav-item">Hello, {{user.first_name  }}</li></a>
          <a href="{%url 'Inventory_Management_For_Retailers:logout' %}" class="nav-link"><li class="nav-item">Logout</li></a>
        {%else%}
          <a href="{%url 'Inventory_Management_For_Retailers:login' %}" class="nav-link"><li class="nav-item">Login</li></a>
          <a href="{%url 'Inventory_Management_For_Retailers:register' %}" class="nav-link"><li class="nav-item">Register</li></a>
          <a href="/admin" class="nav-link">Admin</a>
        {%endif%}
          <a href="#" class="nav-link disabled"><li class="nav-item">Help</li></a>
        </ul>
      </div>
    </nav>
    <div class="maincontent">
      {%if user.is_authenticated%}
          <div class="container" style="padding: 20px">
              <div class="row">
                  <div class="col-4">
                      <div class="card" style="width: 18rem;">
                      <img src="https://images.ctfassets.net/wdjnw2prxlw8/7hj1amrL1QikFl19nNYGPG/5948ec41ac8c95c037177f99e08e5fb2/warehouse.jpeg" class="card-img-top" alt="View_Stock">
                        <div class="card-body">
                            <h5 class="card-title">Add Stock</h5>
                            <p class="card-text">Click Here to Add the Newly Arrived Stocks.</p>
                            <a href="{% url 'Inventory_Management_For_Retailers:addStock' %}" class="btn btn-primary">Add Stock</a>
                        </div>
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="card" style="width: 18rem;">
                      <img src="https://thumbs.dreamstime.com/b/side-view-young-man-removing-drink-refrigerator-shopping-grocery-store-male-buyer-shopping-supermarket-170484949.jpg" class="card-img-top" alt="View_Stock">
                        <div class="card-body">
                            <h5 class="card-title">Remove Stock</h5>
                            <p class="card-text">Click Here to Remove the Available Stocks.</p>
                            <a href="{% url 'Inventory_Management_For_Retailers:removeStock' %}" class="btn btn-primary">Remove Stock</a>
                        </div>
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="card" style="width: 18rem;">
                      <img src="https://media.istockphoto.com/id/1138429558/photo/rows-of-shelves.jpg?s=612x612&w=is&k=20&c=G6ZPRSN7RPpywzpaOSVFrNw5BNDp0nXTpPD4MrXnK4I=" class="card-img-top" alt="View_Stock">
                        <div class="card-body">
                            <h5 class="card-title">View Stock</h5>
                            <p class="card-text">Click Here to View the Available Stocks.</p>
                            <a href="{% url 'Inventory_Management_For_Retailers:viewstock' %}" class="btn btn-primary">View Stock</a>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
        {%if stock_data%}
          {{stock_data}}
        {% endif %}
          <div class="Last_Stock">
          {% if Last_Stock %}
            <br>
              Last Added Stock - {{Last_Stock.Product_Name}}. Quantity - {{Last_Stock.No_of_stocks}}
            {% endif %}

        </div>
      {% else %}
          <div class="container" style="padding: 20px">
              <div class="row">
                  <div class="col-5">
                      <div class="card" style="width: 18rem;">
                      <img src="https://www.howtogeek.com/wp-content/uploads/2022/08/github_hero_2.jpg" class="card-img-top" alt="View_Stock">
                        <div class="card-body">
                            <h5 class="card-title">Git Hub Link</h5>
                            <p class="card-text">Click Here to View the Github Repository.</p>
                            <a href="https://github.com/IBM-EPBL/IBM-Project-5938-1658820412" class="btn btn-primary">Git Hub</a>
                        </div>
                      </div>
                  </div>
                  <div class="col-5">
                      <div class="card" style="width: 18rem;">
                      <img src="https://play-lh.googleusercontent.com/t-juVwXA8lDAk8uQ2L6d6K83jpgQoqmK1icB_l9yvhIAQ2QT_1XbRwg5IpY08906qEw" class="card-img-top" alt="View_Stock">
                        <div class="card-body">
                            <h5 class="card-title">Demo Video Link</h5>
                            <p class="card-text">Click Here to View the Demo Video Link</p>
                            <a href="https://drive.google.com/file/d/1los54hihyassqpxodFGDFJHEZ4wHTnL6/view?usp=share_link" class="btn btn-primary">Drive Link</a>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      {% endif %}
      <br>
    </div>
    <footer>
        A Django based Nalaiya Thiran Project 2022.
             </footer>
</body>
</html>
